Repository cloud-barista/cb-tumblebug, pull requests merged in 2021-11, with the labels that each got.

#906 Rename CoreGetAllBenchmark function to RunAllBenchmarks
  src/api/grpc/server/mcis/control.go
  src/api/rest/server/mcis/control.go
  src/core/mcis/benchmark.go
Labels: lgtm, hacktoberfest-accepted

#923 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#925 Add Swagger doc files to gitignore
  .github/workflows/make-swagger.yaml
  .gitignore
  src/core/common/utility.go
Labels: lgtm

#929 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#931 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#933 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#935 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#937 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#939 Add support for IBM-VPC
  .gitignore
  assets/cloudlocation.csv
  conf/template.credentials.conf
  src/testclient/scripts/conf.env
  src/testclient/scripts/testSet.env
Labels: lgtm

#943 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#954 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#961 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#965 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#978 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#988 Update Ubuntu18.04 image ID of Alibaba Cloud
  assets/cloudimage.csv
  src/testclient/scripts/conf.env
Labels: lgtm

#989 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr
