Repository cloud-barista/cb-tumblebug, pull requests merged in 2022-04, with the labels that each got.

#1056 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1058 Remove duplicated script create-single-vm-mcis.sh
  src/testclient/scripts/8.mcis/create-single-vm-mcis.sh
  src/testclient/scripts/sequentialFullTest/create-mcis-only.sh
Labels: lgtm, approved

#1067 Update `testclient/scripts/conf.env`
  src/testclient/scripts/conf.env
Labels: lgtm, approved, size/XS

#1068 Hotfix cb-larva package
  go.mod
  go.sum
Labels: lgtm, approved, size/S

#1070 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1072 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1074 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1077 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr
