Repository cloud-barista/cb-tumblebug, pull requests merged in 2023-10, with the labels that each got.

#1356 Enhance remote command input output
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/benchmark.go
  src/api/rest/server/mcis/remoteCommand.go
  src/core/mcis/benchmark.go
  src/core/mcis/monitoring.go
  src/core/mcis/network.go
  src/core/mcis/nlb.go
  src/core/mcis/orchestration.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1357 Add command field for SshCmdResult
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/benchmark.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1358 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1359 Auto-assign bastion node
  src/core/mcis/provisioning.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1361 WatchConfig for cloud_config and update dynamically
  src/main.go
Labels: approved

#1363 Update gomod to add fsnotify v1.6.0
  go.mod
Labels: approved

#1364 Fix Provisioning Global L4 NLB faces runtime error
  src/api/rest/server/mcis/remoteCommand.go
  src/core/mcir/vnet.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1366 Apply changed request body of remote cmd to scripts
  src/testclient/scripts/sequentialFullTest/change-mcis-hostname.sh
  src/testclient/scripts/sequentialFullTest/check-network-performance.sh
  src/testclient/scripts/sequentialFullTest/command-mcis.sh
  src/testclient/scripts/sequentialFullTest/config-hybridIP-withHosts.sh
  src/testclient/scripts/sequentialFullTest/copy-file-to-mcis.sh
  src/testclient/scripts/sequentialFullTest/deploy-docker-runtime.sh
  src/testclient/scripts/sequentialFullTest/deploy-dragonfly-docker.sh
  src/testclient/scripts/sequentialFullTest/deploy-fps-game.sh
  src/testclient/scripts/sequentialFullTest/deploy-game-js.sh
  src/testclient/scripts/sequentialFullTest/deploy-jitsi-to-mcis.sh
  src/testclient/scripts/sequentialFullTest/deploy-loadMaker-to-mcis.sh
  src/testclient/scripts/sequentialFullTest/deploy-nginx-mcis.sh
  src/testclient/scripts/sequentialFullTest/deploy-spider-docker.sh
  src/testclient/scripts/sequentialFullTest/deploy-tumblebug.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-mcis-update.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-mcis.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mcis-update-noinstall.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mcis-update.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mcis.sh
  src/testclient/scripts/sequentialFullTest/start-weavescope-mcis.sh
  src/testclient/scripts/sequentialFullTest/stop-weavescope-mcis.sh
Labels: approved

#1368 Fix suspend resume transition check err
  src/core/mcis/control.go
  src/core/mcis/manageInfo.go
  src/core/mcis/provisioning.go
Labels: approved

#1369 Enhance infra control and handling bastion after it
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/control.go
  src/api/rest/server/mcis/remoteCommand.go
  src/api/rest/server/server.go
  src/core/common/common.go
  src/core/mcis/benchmark.go
  src/core/mcis/control.go
  src/core/mcis/manageInfo.go
  src/core/mcis/monitoring.go
  src/core/mcis/network.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1370 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1371 Update Repository Ownership (jihoon-seo and yunkon-kim)
  .github/workflows/auto-merge.yml
  CODEOWNERS
  OWNERS
Labels: approved

#1373 Fix outdated docker api version for script
  scripts/runContainer.sh
  scripts/runMapUI.sh
Labels: approved

#1374 Integration with CB-Spider 0.7.7
  scripts/installDocker.sh
  scripts/runSpider.sh
Labels: approved

#1375 Use CB-MapUI dashboard container latest
  scripts/runMapUI.sh
Labels: approved

#1376 Update readme for mapui instruction
  README.md
Labels: approved
