Repository cloud-barista/cb-tumblebug, pull requests merged in 2023-09, with the labels that each got.

#1321 Refactor func names in manageInfo
  src/api/rest/server/mcir/dataDisk.go
  src/api/rest/server/mcis/manageInfo.go
  src/api/rest/server/mcis/monitoring.go
  src/core/common/config.go
  src/core/mcis/manageInfo.go
  src/core/mcis/nlb.go
  src/core/mcis/orchestration.go
  src/core/mcis/provisioning.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1322 Modularize http call client
  src/core/common/client.go
  src/core/common/utility.go
Labels: approved

#1324 Add prototype of API Response Caching
  src/core/common/client.go
  src/core/common/utility.go
Labels: approved

#1325 Change owner name hermitkim1
  .all-contributorsrc
  .github/workflows/auto-merge.yml
  CODEOWNERS
  OWNERS
  README.md
  i18n/README-EN.md
Labels: lgtm, approved

#1326 API response caching for get VM status
  src/core/common/client.go
  src/core/common/utility.go
  src/core/mcis/manageInfo.go
Labels: approved

#1327 Refactor func names
  src/api/rest/server/mcis/manageInfo.go
  src/core/mcis/manageInfo.go
  src/core/mcis/provisioning.go
Labels: approved

#1328 Apply universal ExecuteHttpRequest for Create MCIS (post) and enhance readability
  src/core/mcis/manageInfo.go
  src/core/mcis/provisioning.go
  src/core/mcis/recommendation.go
Labels: approved

#1329 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1331 Update xorm pkg version to remove dgrijalva/jwt-go
  go.mod
  go.sum
  go.work.sum
Labels: approved

#1333 Fix generic type param handling error
  go.mod
  go.sum
  go.work.sum
  src/core/common/client.go
  src/core/common/utility.go
  src/core/mcis/manageInfo.go
  src/core/mcis/provisioning.go
Labels: approved

#1338 Add check http version
  src/api/rest/server/common/utility.go
  src/api/rest/server/server.go
Labels: approved

#1339 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1340 Enhance internal call for resource delete
  src/core/mcir/common.go
Labels: approved

#1341 Enhance internal call for LookupSpecList
  src/core/mcir/common.go
  src/core/mcir/customimage.go
  src/core/mcir/datadisk.go
  src/core/mcir/firewallrule.go
  src/core/mcir/image.go
  src/core/mcir/securitygroup.go
  src/core/mcir/spec.go
  src/core/mcir/sshkey.go
  src/core/mcir/subnet.go
  src/core/mcir/vnet.go
  src/core/mcis/benchmark.go
  src/core/mcis/control.go
  src/core/mcis/manageInfo.go
  src/core/mcis/monitoring.go
  src/core/mcis/nlb.go
  src/core/mcis/snapshot.go
  src/core/mcis/utility.go
Labels: approved

#1342 Enhance internal call source codes
  src/core/mcir/customimage.go
  src/core/mcir/spec.go
  src/core/mcis/manageInfo.go
Labels: approved

#1343 Remove external pkg for ssh and enhance mechanism
  go.mod
  go.sum
  src/core/mcir/spec.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1344 Add SBOM link to README
  README.md
Labels: approved

#1345 Add basic jumphost functionality for ssh
  src/core/mcis/provisioning.go
  src/core/mcis/remoteCommand.go
  src/main.go
Labels: approved

#1346 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1347 Set and get barison node assigned to subnet
  src/core/mcir/vnet.go
  src/core/mcis/manageInfo.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1348 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1349 Use universal func for remote command
  src/api/rest/server/mcis/remoteCommand.go
  src/api/rest/server/server.go
  src/core/mcis/benchmark.go
  src/core/mcis/nlb.go
  src/core/mcis/orchestration.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1350 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1351 Add set get bastion node API
  src/api/rest/server/mcis/remoteCommand.go
  src/api/rest/server/server.go
Labels: approved

#1352 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: swagger, automated pr

#1353 New feature jump host using public ip only
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/mcis/remoteCommand.go
Labels: approved

#1354 [Workflow] Update Swagger REST API doc
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved, swagger, automated pr

#1355 Use PrivateIP for remote command for no-bastion
  src/core/mcis/benchmark.go
  src/core/mcis/manageInfo.go
  src/core/mcis/monitoring.go
  src/core/mcis/network.go
  src/core/mcis/remoteCommand.go
Labels: approved
