Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-11, with the labels that each got.

#1914 [k8scluster] update k8scluster dynamic
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
  src/core/common/utility.go
  src/core/infra/provisioning.go
  src/core/infra/recommendation.go
  src/core/model/k8scluster.go
Labels: approved

#1916 Update README.md for docker install
  README.md
Labels: docs, approved

#1919 Add APIs to manage SQL Database
  go.mod
  go.work.sum
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/label/label.go
  src/api/rest/server/resource/sqlDb.go
  src/api/rest/server/resource/vpn.go
  src/api/rest/server/server.go
  src/core/common/utility.go
  src/core/model/common.go
  src/core/model/sqlDb.go
  src/core/resource/common.go
  src/core/resource/sqlDb.go
  src/core/resource/vpn.go
Labels: approved

#1920 CHORE: update cloudspec.csv and k8sclusterinfo.yaml
  assets/cloudspec.csv
  assets/k8sclusterinfo.yaml
Labels: approved, asset

#1921 Update CODEOWNERS
  CODEOWNERS
Labels: approved

#1924 Support SQL DB APIs for AWS, Azure, GCP, and NCP
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/sqlDb.go
  src/api/rest/server/server.go
  src/core/model/sqlDb.go
  src/core/resource/sqlDb.go
Labels: approved

#1926 CHORE: [k8scluster] update cloudimage.csv for nhncloud
  assets/cloudimage.csv
Labels: approved, asset

#1927 Add dist-lock for safe in-parallel processing of MCI dynamic creation
  src/core/infra/provisioning.go
Labels: approved

#1929 Staging v0.10.1
  docker-compose.yaml
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/subnet.go
Labels: approved

#1930 FEAT: [k8scluster] support k8snodegroupDynamic
  conf/cloud_conf.yaml
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
  src/core/infra/provisioning.go
  src/core/model/k8scluster.go
  src/core/resource/common.go
  src/core/resource/k8scluster.go
Labels: approved

#1937 FIX: [k8scluster] API path
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
Labels: approved

#1943 Bugfix: update distributed-locking mechanism in provisioning
  Dockerfile
  conf/setup.env
  docker-compose.yaml
  src/core/infra/provisioning.go
Labels: approved

#1944 Fix 1941 and validate naming rule
  assets/k8sclusterinfo.yaml
  src/api/rest/server/resource/k8scluster.go
  src/core/common/utility.go
  src/core/model/config.go
  src/core/resource/k8scluster.go
Labels: approved, asset

#1946 Staging v0.10.2
  docker-compose.yaml
Labels: approved

#1947 Improve shared resource handling mechanism on MCI dynamic creation
  docker-compose.yaml
  src/core/infra/provisioning.go
Labels: approved
