Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-09, with the labels that each got.

#1720 Enhance network features and align with Spider APIs
  conf/setup.env
  docker-compose.yaml
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/utility.go
  src/api/rest/server/infra/network.go
  src/api/rest/server/resource/subnet.go
  src/api/rest/server/resource/vnet.go
  src/api/rest/server/server.go
  src/core/common/logger/logger.go
  src/core/common/netutil/netutil.go
  src/core/common/utility.go
  src/core/infra/provisioning.go
  src/core/infra/utility.go
  src/core/model/subnet.go
  src/core/model/vnet.go
  src/core/resource/common.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
  src/kvstore/etcd/etcd.go
Labels: approved

#1784 Staging v0.9.9
  docker-compose.yaml
Labels: approved

#1787 Revert TagList in vNet/Subnet API
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/model/subnet.go
  src/core/model/vnet.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved

#1788 [k8scluster] fix cb-spider's subnet name
  src/core/resource/k8scluster.go
Labels: approved

#1791 Add get region list by provider
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/utility.go
  src/api/rest/server/server.go
  src/core/common/utility.go
  src/core/model/common.go
  src/core/model/config.go
Labels: approved

#1793 Add a utility function to design vNets and subnets initially
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/server.go
  src/api/rest/server/util/netuil.go
  src/core/common/netutil/netutil.go
  src/core/model/vnet.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
  src/examples/vnet-design/main.go
Labels: approved

#1794 Test and bugfix in vNet and subnet APIs
  src/core/common/label/label.go
  src/core/resource/vnet.go
Labels: approved

#1795 Enhance label feature
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/label/label.go
  src/api/rest/server/infra/manageInfo.go
  src/core/common/label/label.go
  src/core/common/namespace.go
  src/core/infra/manageInfo.go
  src/core/infra/provisioning.go
  src/core/model/common.go
  src/core/model/label.go
  src/core/resource/common.go
  src/core/resource/datadisk.go
  src/core/resource/k8scluster.go
  src/core/resource/securitygroup.go
  src/core/resource/sshkey.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved

#1796 Provide resourceType to objects
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/common/label/label.go
  src/core/infra/provisioning.go
  src/core/model/customimage.go
  src/core/model/datadisk.go
  src/core/model/k8scluster.go
  src/core/model/mci.go
  src/core/model/namespace.go
  src/core/model/nlb.go
  src/core/model/securitygroup.go
  src/core/model/sshkey.go
  src/core/model/subnet.go
  src/core/model/vnet.go
  src/core/resource/customimage.go
  src/core/resource/datadisk.go
  src/core/resource/k8scluster.go
  src/core/resource/securitygroup.go
  src/core/resource/sshkey.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved

#1797 Provide terminate option for delete all MCIs
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/infra/manageInfo.go
Labels: approved

#1798 Support delete all MCIs in parallel
  src/core/infra/manageInfo.go
Labels: approved

#1799 Change API name for loading assets
  init/init.py
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/common.go
  src/api/rest/server/server.go
  src/core/resource/common.go
  src/testclient/scripts/2.configureTumblebug/load-common-resource.sh
Labels: approved

#1800 Enhance API for creating shared resources
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/common.go
  src/api/rest/server/server.go
  src/core/infra/provisioning.go
  src/core/resource/common.go
Labels: approved

#1801 Use existing convention for API about name request in k8s
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/model/k8scluster.go
  src/core/resource/k8scluster.go
Labels: approved

#1805 Rename spec and image relatd fields
  assets/cloudimage.csv
  assets/cloudspec.csv
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/image.go
  src/api/rest/server/resource/spec.go
  src/core/infra/provisioning.go
  src/core/model/image.go
  src/core/model/k8scluster.go
  src/core/model/mci.go
  src/core/model/spec.go
  src/core/model/subnet.go
  src/core/resource/common.go
  src/core/resource/image.go
  src/core/resource/k8scluster.go
  src/core/resource/spec.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved, asset

#1807 Update Kubernetes dev status for each CSP in README.md
  README.md
Labels: docs, approved

#1809 [k8scluster] move CB-SP's returns to cspviewk8sxxx and revert ImageId
  src/core/model/k8scluster.go
  src/core/resource/k8scluster.go
  src/testclient/scripts/13.k8scluster/add-k8snodegroup.sh
  src/testclient/scripts/13.k8scluster/create-k8scluster.sh
  src/testclient/scripts/3.vNet/create-vNet.sh
  src/testclient/scripts/3.vNet/delete-vNet.sh
  src/testclient/scripts/3.vNet/force-delete-vNet.sh
  src/testclient/scripts/6.image/registerImageWithId.sh
  src/testclient/scripts/7.spec/register-spec.sh
  src/testclient/scripts/conf.env
  src/testclient/scripts/sequentialFullTest/add-k8snodegroup.sh
  src/testclient/scripts/sequentialFullTest/change-k8snodegroup-autoscalesize.sh
  src/testclient/scripts/sequentialFullTest/clean-k8scluster-only.sh
  src/testclient/scripts/sequentialFullTest/clean-resource-ns-cloud.sh
  src/testclient/scripts/sequentialFullTest/create-k8scluster-only.sh
  src/testclient/scripts/sequentialFullTest/create-resource-ns-cloud.sh
  src/testclient/scripts/sequentialFullTest/deploy-nginx-with-pvc-to-k8scluster.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-k8scluster.sh
  src/testclient/scripts/sequentialFullTest/get-k8scluster.sh
  src/testclient/scripts/sequentialFullTest/remove-k8snodegroup.sh
  src/testclient/scripts/sequentialFullTest/set-k8snodegroup-autoscaling.sh
Labels: approved

#1811 Update cloud region zone info and the helper tool
  assets/cloudinfo.yaml
  scripts/misc/update-cloudinfo.py
Labels: approved, asset

#1812 Staging v0.9.11
  docker-compose.yaml
Labels: approved

#1813 Expedite vm recommend filtering speed
  src/core/infra/recommendation.go
  src/core/resource/spec.go
  src/main.go
Labels: approved, src

#1815 Provide openapi 3.0.1 documentation
  docker-compose.yaml
  scripts/misc/convert-swagger-version.sh
  src/Makefile
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/test.go
  src/api/rest/server/server.go
  src/main.go
Labels: approved, src

#1817 Change string label to structed label for mci
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/infra/loadbalance.go
  src/core/infra/manageInfo.go
  src/core/infra/orchestration.go
  src/core/infra/provisioning.go
  src/core/infra/utility.go
  src/core/model/k8scluster.go
  src/core/model/mci.go
  src/core/resource/k8scluster.go
Labels: approved

#1821 Add remote file transfer feature
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/infra/remoteCommand.go
  src/api/rest/server/server.go
  src/core/infra/remoteCommand.go
Labels: approved

#1822 Use cb-mapui v0.9.5
  docker-compose.yaml
Labels: approved

#1823 Improve the `X-Request-Id` and Request Details handling mechanism
  src/api/rest/server/common/config.go
  src/api/rest/server/common/label/label.go
  src/api/rest/server/common/namespace.go
  src/api/rest/server/common/utility.go
  src/api/rest/server/infra/benchmark.go
  src/api/rest/server/infra/control.go
  src/api/rest/server/infra/loadbalance.go
  src/api/rest/server/infra/manageInfo.go
  src/api/rest/server/infra/monitoring.go
  src/api/rest/server/infra/orchestration.go
  src/api/rest/server/infra/provisioning.go
  src/api/rest/server/infra/recommendation.go
  src/api/rest/server/infra/remoteCommand.go
  src/api/rest/server/infra/utility.go
  src/api/rest/server/middlewares/requestIdAndDetailsIssuer.go
  src/api/rest/server/middlewares/responseBodyDump.go
  src/api/rest/server/resource/common.go
  src/api/rest/server/resource/customimage.go
  src/api/rest/server/resource/dataDisk.go
  src/api/rest/server/resource/firewallrule.go
  src/api/rest/server/resource/image.go
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/resource/securitygroup.go
  src/api/rest/server/resource/spec.go
  src/api/rest/server/resource/sshkey.go
  src/api/rest/server/util/netuil.go
  src/core/common/client.go
Labels: approved

#1824 Staging cb-tumblebug v0.9.12
  docker-compose.yaml
Labels: approved

#1825 [k8scluster] update testscripts
  src/testclient/scripts/13.k8scluster/create-k8scluster.sh
  src/testclient/scripts/13.k8scluster/status-k8scluster.sh
  src/testclient/scripts/conf.env
  src/testclient/scripts/sequentialFullTest/clean-resource-ns-cloud.sh
  src/testclient/scripts/sequentialFullTest/create-k8scluster-only.sh
  src/testclient/scripts/sequentialFullTest/create-resource-ns-cloud.sh
  src/testclient/scripts/sequentialFullTest/undeploy-nginx-with-pvc-from-k8scluster.sh
  src/testclient/scripts/testSet.env
Labels: approved

#1828 [k8scluster] enable gcp and update regions/versions
  assets/k8sclusterinfo.yaml
  conf/cloud_conf.yaml
Labels: lgtm, approved, asset

#1826 [k8scluster] fix nodegroup's name
  src/core/resource/k8scluster.go
Labels: approved

#1831 Ensure log file directory exists before creating the log file
  src/core/common/logger/logger.go
Labels: approved

#1833 Staging v0.9.13
  docker-compose.yaml
Labels: approved

#1836 Replace the vNet and zone validation logic
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved

#1839 Update label.go. Fix typo: replace 'lable' with 'label' #1838
  src/core/common/label/label.go
Labels: lgtm, approved

#1837 Cleanup comments
  src/core/infra/benchmark.go
  src/core/infra/loadbalance.go
  src/core/infra/monitoring.go
  src/core/infra/utility.go
  src/core/resource/image.go
  src/core/resource/securitygroup.go
Labels: approved

#1841 [k8scluster] support empty/default imagename when adding k8snodegroup
  src/core/resource/k8scluster.go
Labels: approved
