Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-08, with the labels that each got.

#1703 Register all specs and update asset spec
  src/api/rest/server/mcir/spec.go
  src/api/rest/server/server.go
  src/core/mcir/common.go
  src/core/mcir/spec.go
  src/core/mcis/recommendation.go
Labels: approved

#1704 Fix provisioning error
  src/core/mcis/provisioning.go
Labels: approved

#1706 Fix GetCspResourceId related error
  docs/images/cb-tb-call-core-mcis.svg
  src/core/common/utility.go
  src/core/mcir/common.go
  src/core/mcir/spec.go
  src/core/mcis/benchmark.go
  src/core/mcis/control.go
  src/core/mcis/k8scluster.go
  src/core/mcis/manageInfo.go
  src/core/mcis/provisioning.go
  src/core/mcis/recommendation.go
Labels: approved

#1707 Simply docker compose and isolate containers
  docker-compose.yaml
Labels: approved

#1709 Enhance logger pkg
  src/core/common/logger/logger.go
  src/main.go
Labels: approved, src

#1711 Enhance common image features and remove key obj
  assets/cloudimage.csv
  init/init.py
  src/api/rest/server/mcir/image.go
  src/core/mcir/common.go
  src/core/mcir/image.go
  src/core/mcis/provisioning.go
  src/core/mcis/recommendation.go
  src/main.go
Labels: approved, src, asset

#1712 [k8scluster] add CheckNodeGroupsOnK8sCreation API (no routed)
  assets/k8sclusterinfo.yaml
  src/api/rest/server/mcis/k8scluster.go
  src/core/common/config.go
  src/core/common/utility.go
Labels: approved, asset

#1715 [k8scluster] update CheckNodeGroupsOnK8sCreation API
  src/api/rest/server/mcis/k8scluster.go
  src/api/rest/server/server.go
  src/core/common/config.go
  src/core/common/utility.go
  src/testclient/scripts/13.k8scluster/check-nodegroups-on-k8s-creation.sh
Labels: approved

#1717 Support build option for docker compose
  docker-compose.yaml
Labels: approved

#1718 Remove cb-tb call graph
  docs/images/cb-tb-call-core-mcis.svg
  docs/images/cb-tb-call-main.svg
  docs/images/cb-tb-call-rest-mcir.svg
  docs/images/cb-tb-call-rest-mcis.svg
Labels: approved

#1719 Remove cb-tb api diff docs
  docs/apiChangeLog/dev-api-diff.html
  docs/apiChangeLog/dev-api-diff.md
Labels: approved

#1723 [k8scluster] update valid specId example in TbK8sNodeGroupReq
  src/core/mcis/k8scluster.go
  src/testclient/scripts/13.k8scluster/add-k8snodegroup.sh
  src/testclient/scripts/13.k8scluster/create-k8scluster.sh
Labels: approved, k8scluster

#1728 Enhance API docs
  src/api/rest/server/mci/benchmark.go
  src/api/rest/server/mci/control.go
  src/api/rest/server/mci/manageInfo.go
  src/api/rest/server/mci/monitoring.go
  src/api/rest/server/mci/orchestration.go
  src/api/rest/server/mci/provisioning.go
  src/api/rest/server/mci/recommendation.go
  src/api/rest/server/mci/remoteCommand.go
  src/api/rest/server/mcir/spec.go
  src/api/rest/server/server.go
  src/core/mcir/image.go
  src/core/mcir/spec.go
Labels: approved

#1730 Staging v0.9.5
  docker-compose.yaml
Labels: approved

#1737 Remove infra service terms
  src/core/mci/benchmark.go
  src/core/mci/control.go
  src/core/mci/k8scluster.go
  src/core/mci/manageInfo.go
  src/core/mci/monitoring.go
  src/core/mci/nlb.go
  src/core/mci/orchestration.go
  src/core/mci/provisioning.go
  src/core/mci/recommendation.go
  src/core/mci/remoteCommand.go
  src/core/mci/snapshot.go
  src/core/mci/utility.go
  src/testclient/scripts/README.md
Labels: approved

#1738 Fix file names MCI
  docs/designUML/seq-create-mci.puml
  docs/images/cb-tb-sequence-creating-mci.svg
  src/testclient/scripts/8.mci/add-subgroup-to-mci.sh
  src/testclient/scripts/8.mci/add-vm-to-mci.sh
  src/testclient/scripts/8.mci/create-mci-policy.sh
  src/testclient/scripts/8.mci/create-mci.sh
  src/testclient/scripts/8.mci/delete-mci-policy-all.sh
  src/testclient/scripts/8.mci/delete-mci-policy.sh
  src/testclient/scripts/8.mci/delete-mci.sh
  src/testclient/scripts/8.mci/get-mci-policy.sh
  src/testclient/scripts/8.mci/get-mci.sh
  src/testclient/scripts/8.mci/id-list-mci.sh
  src/testclient/scripts/8.mci/id-list-subgroup.sh
  src/testclient/scripts/8.mci/id-list-vm.sh
  src/testclient/scripts/8.mci/inspect-vm.sh
  src/testclient/scripts/8.mci/list-mci-policy.sh
  src/testclient/scripts/8.mci/list-mci-status.sh
  src/testclient/scripts/8.mci/list-mci.sh
  src/testclient/scripts/8.mci/reboot-mci.sh
  src/testclient/scripts/8.mci/refine-mci.sh
  src/testclient/scripts/8.mci/resume-mci.sh
  src/testclient/scripts/8.mci/snapshot-vm.sh
  src/testclient/scripts/8.mci/spider-create-vm.sh
  src/testclient/scripts/8.mci/spider-delete-vm.sh
  src/testclient/scripts/8.mci/spider-get-vm.sh
  src/testclient/scripts/8.mci/spider-get-vmstatus.sh
  src/testclient/scripts/8.mci/status-mci.sh
  src/testclient/scripts/8.mci/suspend-mci.sh
  src/testclient/scripts/8.mci/terminate-mci.sh
  src/testclient/scripts/misc/gen-mci-config.sh
  src/testclient/scripts/sequentialFullTest/ansibleAutoConf/mcis-shson01-host-example
  src/testclient/scripts/sequentialFullTest/change-mci-hostname.sh
  src/testclient/scripts/sequentialFullTest/clean-mci-only.sh
  src/testclient/scripts/sequentialFullTest/command-mci.sh
  src/testclient/scripts/sequentialFullTest/copy-file-to-mci.sh
  src/testclient/scripts/sequentialFullTest/create-mci-for-df.sh
  src/testclient/scripts/sequentialFullTest/create-mci-for-ws.sh
  src/testclient/scripts/sequentialFullTest/create-mci-only.sh
  src/testclient/scripts/sequentialFullTest/deploy-jitsi-to-mci.sh
  src/testclient/scripts/sequentialFullTest/deploy-loadMaker-to-mci.sh
  src/testclient/scripts/sequentialFullTest/deploy-nginx-mci.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-mci-update.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-mci.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mci-update-noinstall.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mci-update.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-multi-mci.sh
  src/testclient/scripts/sequentialFullTest/expand-mci.sh
  src/testclient/scripts/sequentialFullTest/start-weavescope-mci.sh
  src/testclient/scripts/sequentialFullTest/stop-weavescope-mci.sh
  src/testclient/scripts/sequentialFullTest/test-mci-dynamic-all-for-one.sh
  src/testclient/scripts/sequentialFullTest/test-mci-dynamic-all.sh
  src/testclient/scripts/sequentialFullTest/update-dns-for-mci-ip.sh
  src/testclient/test-clis/vpn-tunnel/gcp-aws/mciDynamic.json
Labels: approved

#1740 Change path of cleanDB.sh into the init
  README.md
  init/cleanDB.sh
Labels: docs, approved

#1742 Makeup utilities
  Makefile
  docker-compose.yaml
  init/init.py
  src/api/rest/server/mcir/common.go
Labels: approved

#1744 Rename default-ns: default and system-ns: system
  Dockerfile
  docker-compose.yaml
  src/api/rest/server/common/namespace.go
  src/api/rest/server/common/utility.go
  src/api/rest/server/mci/benchmark.go
  src/api/rest/server/mci/control.go
  src/api/rest/server/mci/k8scluster.go
  src/api/rest/server/mci/manageInfo.go
  src/api/rest/server/mci/monitoring.go
  src/api/rest/server/mci/network.go
  src/api/rest/server/mci/nlb.go
  src/api/rest/server/mci/orchestration.go
  src/api/rest/server/mci/provisioning.go
  src/api/rest/server/mci/recommendation.go
  src/api/rest/server/mci/remoteCommand.go
  src/api/rest/server/mcir/common.go
  src/api/rest/server/mcir/customimage.go
  src/api/rest/server/mcir/dataDisk.go
  src/api/rest/server/mcir/firewallrule.go
  src/api/rest/server/mcir/image.go
  src/api/rest/server/mcir/securitygroup.go
  src/api/rest/server/mcir/spec.go
  src/api/rest/server/mcir/sshkey.go
  src/api/rest/server/mcir/subnet.go
  src/api/rest/server/mcir/vnet.go
  src/core/common/common.go
  src/core/common/namespace.go
  src/core/mci/k8scluster.go
  src/core/mci/nlb.go
  src/core/mcir/customimage.go
  src/core/mcir/datadisk.go
  src/examples/kvstore/main.go
  src/main.go
  src/testclient/scripts/2.configureTumblebug/create-ns.sh
  src/testclient/scripts/2.configureTumblebug/delete-ns.sh
  src/testclient/scripts/2.configureTumblebug/get-config.sh
  src/testclient/scripts/2.configureTumblebug/get-ns.sh
  src/testclient/scripts/conf.env
  src/testclient/scripts/misc/gen-mci-config.sh
  src/testclient/scripts/sequentialFullTest/test-mci-dynamic-all-for-one.sh
  src/testclient/scripts/sequentialFullTest/test-mci-dynamic-all.sh
  src/testclient/scripts/testSet.env
  src/testclient/test-clis/vpn-tunnel/gcp-aws/README.md
  src/testclient/test-clis/vpn-tunnel/gcp-aws/app.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/config.yaml
Labels: approved, src

#1746 Remove not effective param in compose
  docker-compose.yaml
Labels: approved

#1748 Simplify ID system using GenUid and no Transform
  docker-compose.yaml
  src/api/rest/server/mcir/common.go
  src/api/rest/server/server.go
  src/core/mci/k8scluster.go
  src/core/mci/provisioning.go
  src/core/mci/snapshot.go
  src/core/mcir/common.go
  src/core/mcir/datadisk.go
  src/core/mcir/securitygroup.go
  src/core/mcir/sshkey.go
  src/core/mcir/subnet.go
  src/core/mcir/vnet.go
Labels: approved

#1750 Fix Flask app is run in debug mode
  scripts/usecases/ceph/app.py
Labels: approved

#1751 Rename RestLoadDefaultResource to RestLoadSharedResource
  src/api/rest/server/mcir/common.go
  src/api/rest/server/server.go
  src/core/mci/nlb.go
  src/core/mci/provisioning.go
  src/core/mcir/common.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/app.go
Labels: approved

#1753 Change defaultresource to sharedresource
  src/api/rest/server/mcir/common.go
  src/api/rest/server/server.go
  src/core/common/common.go
  src/core/mci/provisioning.go
  src/core/mcir/common.go
Labels: approved

#1757 Use Golang v1.23.0
  .github/workflows/continuous-integration.yaml
  .github/workflows/make-swagger.yaml
  Dockerfile
  README.md
  go.mod
  go.work
  scripts/setcbdf.sh
  scripts/setcbtb.sh
Labels: docs, approved, script

#1758 Bugfix to correct vNetId to match Spider's Create Subnet API
  src/core/mcir/subnet.go
Labels: approved

#1759 Provide a secure way for register credential api
  init/init.py
  init/requirements.txt
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/utility.go
  src/api/rest/server/server.go
  src/core/common/common.go
  src/core/common/utility.go
Labels: approved

#1761 Enhance secure credential registeration
  init/init.py
  init/requirements.txt
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/common/utility.go
Labels: approved

#1762 Arrange API resource group tags
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/auth/auth.go
  src/api/rest/server/common/config.go
  src/api/rest/server/common/namespace.go
  src/api/rest/server/common/utility.go
  src/api/rest/server/mci/benchmark.go
  src/api/rest/server/mci/control.go
  src/api/rest/server/mci/k8scluster.go
  src/api/rest/server/mci/manageInfo.go
  src/api/rest/server/mci/monitoring.go
  src/api/rest/server/mci/network.go
  src/api/rest/server/mci/nlb.go
  src/api/rest/server/mci/orchestration.go
  src/api/rest/server/mci/provisioning.go
  src/api/rest/server/mci/recommendation.go
  src/api/rest/server/mci/remoteCommand.go
  src/api/rest/server/mcir/common.go
  src/api/rest/server/mcir/customimage.go
  src/api/rest/server/mcir/dataDisk.go
  src/api/rest/server/mcir/firewallrule.go
  src/api/rest/server/mcir/image.go
  src/api/rest/server/mcir/securitygroup.go
  src/api/rest/server/mcir/spec.go
  src/api/rest/server/mcir/sshkey.go
  src/api/rest/server/mcir/subnet.go
  src/api/rest/server/mcir/vnet.go
  src/api/rest/server/server.go
  src/api/rest/server/util/netuil.go
Labels: approved

#1763 Staging cb-tumblebug 0.9.7
  docker-compose.yaml
Labels: approved

#1766 Fix api validation warning
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/infra/nlb.go
  src/api/rest/server/resource/firewallrule.go
Labels: approved

#1767 [k8scluster] update testscripts
  src/testclient/scripts/conf.env
  src/testclient/scripts/sequentialFullTest/deploy-nginx-with-pvc-to-k8scluster.sh
  src/testclient/scripts/sequentialFullTest/deploy-weavescope-to-k8scluster.sh
  src/testclient/scripts/sequentialFullTest/nginx-with-pvc.yaml
  src/testclient/scripts/sequentialFullTest/undeploy-nginx-with-pvc-from-k8scluster.sh
Labels: approved

#1768 Add missing path param decs
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/firewallrule.go
Labels: approved

#1769 Enhance api description
  src/main.go
Labels: approved, src

#1770 Describe how hybrid encryption works in init.py
  README.md
Labels: docs, approved

#1771 Update description for register credential api
  src/api/rest/server/common/utility.go
Labels: approved

#1774 Provide a link to discussions/1773
  README.md
Labels: docs, approved

#1776 Refactor k8s and nlb parts
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/infra/loadbalance.go
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
  src/core/infra/loadbalance.go
  src/core/resource/k8scluster.go
Labels: approved

#1777 Update shields badge README.md
  README.md
Labels: docs, approved

#1779 Change label api group
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/label/label.go
Labels: approved

#1781 Invite cb-sp v0.9.2
  docker-compose.yaml
Labels: approved
