Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-10, with the labels that each got.

#1843 Add csp connection info to k8s cluster info
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/model/k8scluster.go
  src/core/resource/k8scluster.go
Labels: approved

#1844 Activate dynamic endpoint for swagger API dashboard
  docker-compose.yaml
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/server.go
  src/core/model/common.go
  src/main.go
Labels: approved, src

#1847 Remove deprecated gRPC comments
  src/main.go
Labels: lgtm, src

#1852 Refine API request logging struct
  docker-compose.yaml
  src/api/rest/server/middlewares/zerologger.go
Labels: approved

#1860 [testscripts] update query param(action=withsubnets) in (force-)delete-vnet.sh
  src/testclient/scripts/3.vNet/delete-vNet.sh
  src/testclient/scripts/3.vNet/force-delete-vNet.sh
Labels: approved

#1861 Enhance speed and stability of spec init
  src/core/common/utility.go
  src/core/resource/common.go
  src/core/resource/spec.go
  src/main.go
Labels: approved, src

#1862 Expedite init by supporting bulk update assets
  init/init.py
  src/core/resource/common.go
  src/core/resource/image.go
  src/core/resource/spec.go
Labels: approved

#1863 Staging v0.9.16
  docker-compose.yaml
Labels: approved

#1864 Apply spider v0.9.7
  docker-compose.yaml
Labels: approved

#1865 Enable Get image API
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/image.go
  src/api/rest/server/server.go
  src/core/resource/image.go
  src/core/resource/spec.go
Labels: approved

#1866 Enhance for network design and configuration
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/core/model/vnet.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
Labels: approved

#1869 Add swag install guide message to MAKEFILE
  src/Makefile
Labels: approved, src

#1872 Fix mc-infra scaleout error
  src/core/infra/provisioning.go
  src/core/resource/spec.go
Labels: approved

#1874 Enhance large scale mc-infra provisioning stability
  src/core/common/label/label.go
  src/core/infra/control.go
  src/core/infra/provisioning.go
  src/core/model/mci.go
Labels: approved

#1875 Code enhancement in vm provision request
  src/core/infra/provisioning.go
  src/core/model/mci.go
Labels: approved

#1879 fix typo
  src/core/infra/provisioning.go
Labels: approved

#1881 docs: update README.md
  README.md
Labels: docs, approved

#1884 Update site-to-site VPN
  src/api/rest/server/infra/network.go
  src/api/rest/server/model/network.go
  src/core/resource/vnet.go
Labels: approved

#1878 Fix #1876: Remove the redundant code for fmt.Print
  src/core/common/config.go
Labels: approved

#1887 Provide location and enhance get spec for k8s cluster
  src/core/resource/k8scluster.go
Labels: approved

#1888 Update to fix malformed .all-contributorsrc json
  .all-contributorsrc
Labels: approved

#1889 Enhance initialization script
  init/init.py
  init/requirements.txt
Labels: approved

#1893 Staging CB-TB v0.9.19
  docker-compose.yaml
Labels: approved

#1894 Add Mutex to MCI related infos
  assets/cloudspec.csv
  src/core/infra/manageInfo.go
Labels: approved, asset

#1895 Enhance error handling for randomSleep
  src/core/common/utility.go
Labels: approved

#1896 Staging CB-TB 0.9.20
  docker-compose.yaml
Labels: approved

#1897 Enhance client call code
  src/core/resource/image.go
Labels: approved

#1898 Update Alibaba cloud images to assets
  assets/cloudimage.csv
  src/core/resource/common.go
Labels: approved, asset

#1899 Make up for Staging CB-TB v0.9.21
  assets/cloudspec.csv
  docker-compose.yaml
Labels: approved, asset

#1900 Enhance the site-to-site VPN
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  scripts/runTerrarium.sh
  scripts/runTumblebug.sh
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/infra/network.go
  src/api/rest/server/middlewares/checkReadiness.go
  src/api/rest/server/model/network.go
  src/api/rest/server/resource/vpn.go
  src/api/rest/server/server.go
  src/core/common/config.go
  src/core/common/utility.go
  src/core/infra/benchmark.go
  src/core/model/common.go
  src/core/model/vpn.go
  src/core/resource/common.go
  src/core/resource/vpn.go
  src/main.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/app.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/config.yaml
Labels: approved, src, script

#1902 Fix vm status transition check bug
  src/core/infra/control.go
  src/core/infra/manageInfo.go
  src/core/infra/utility.go
  src/core/resource/common.go
  src/core/resource/k8scluster.go
Labels: approved

#1904 Disable CB-Dragonfly by default
  src/core/model/mci.go
Labels: approved

#1905 Add VPN option to label api
  src/api/rest/server/common/label/label.go
Labels: approved

#1907 Enhance provisioning speed and stability and Update test scripts
  src/core/infra/provisioning.go
  src/core/resource/common.go
  src/testclient/scripts/sequentialFullTest/test-mci-dynamic-all-for-one.sh
Labels: approved

#1908 Apply VPNinfo interface to label
  src/core/common/label/label.go
  src/core/model/common.go
Labels: approved

#1909 Staging CB-TB v0.9.22
  docker-compose.yaml
Labels: approved

#1910 [chore] update assets/cloudspec for k8s
  assets/cloudspec.csv
Labels: approved, asset

#1911 [k8scluster] support k8sclusterDynamic like mciDynamic
  assets/cloudspec.csv
  assets/k8sclusterinfo.yaml
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
  src/core/common/utility.go
  src/core/infra/provisioning.go
  src/core/model/config.go
  src/core/model/k8scluster.go
  src/core/resource/k8scluster.go
Labels: approved, asset
