Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-06, with the labels that each got.

#1595 Assign operationId to all APIs
  scripts/runSpider.sh
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/config.go
  src/api/rest/server/common/namespace.go
  src/api/rest/server/common/utility.go
  src/api/rest/server/mcir/common.go
  src/api/rest/server/mcir/customimage.go
  src/api/rest/server/mcir/dataDisk.go
  src/api/rest/server/mcir/firewallrule.go
  src/api/rest/server/mcir/image.go
  src/api/rest/server/mcir/securitygroup.go
  src/api/rest/server/mcir/spec.go
  src/api/rest/server/mcir/sshkey.go
  src/api/rest/server/mcir/subnet.go
  src/api/rest/server/mcir/vnet.go
  src/api/rest/server/mcis/benchmark.go
  src/api/rest/server/mcis/cluster.go
  src/api/rest/server/mcis/control.go
  src/api/rest/server/mcis/manageInfo.go
  src/api/rest/server/mcis/monitoring.go
  src/api/rest/server/mcis/network.go
  src/api/rest/server/mcis/nlb.go
  src/api/rest/server/mcis/orchestration.go
  src/api/rest/server/mcis/provisioning.go
  src/api/rest/server/mcis/recommendation.go
  src/api/rest/server/mcis/remoteCommand.go
  src/api/rest/server/util/netuil.go
Labels: approved

#1596 Remove api doc for previous versions
  src/api/rest/docs/v0.5.0.yaml
  src/api/rest/docs/v0.6.0.yaml
Labels: approved

#1598 Expand naming rule condition uppercase
  src/core/common/utility.go
Labels: approved

#1605 Update to provide site-to-site VPN
  go.mod
  go.sum
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/network.go
  src/api/rest/server/model/network.go
  src/api/rest/server/server.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/app.go
  src/testclient/test-clis/vpn-tunnel/gcp-aws/config.yaml
Labels: approved

#1604 Update conf.env and testSet.env for Domestic CSPs, and Add modify_nginx.sh to Set nginx server on NCP Classic VM
  assets/cloudspec.csv
  scripts/init/template.credentials.yaml
  src/testclient/scripts/3.vNet/create-vNet-ktvpc.sh
  src/testclient/scripts/3.vNet/create-vNet-ncpvpc.sh
  src/testclient/scripts/3.vNet/create-vNet-nhn.sh
  src/testclient/scripts/4.securityGroup/create-securityGroup-ktvpc.sh
  src/testclient/scripts/4.securityGroup/create-securityGroup-ncp.sh
  src/testclient/scripts/conf.env
  src/testclient/scripts/sequentialFullTest/clean-all-domestic.sh
  src/testclient/scripts/sequentialFullTest/clean-mcir-ns-cloud-domestic.sh
  src/testclient/scripts/sequentialFullTest/create-all-domestic.sh
  src/testclient/scripts/sequentialFullTest/create-mcir-ns-cloud-domestic.sh
  src/testclient/scripts/testSet.env
Labels: wip

#1582 Seamless K8s Cluster Provisioning Support
  assets/k8sclusterinfo.yaml
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/common/utility.go
  src/api/rest/server/mcis/cluster.go
  src/api/rest/server/server.go
  src/core/common/config.go
  src/core/common/utility.go
  src/main.go
Labels: wip

#1608 Support domestic CSPs testing (NHN, KT requires register feature)
  go.mod
  go.sum
  src/core/mcis/provisioning.go
  src/testclient/scripts/8.mcis/add-subgroup-to-mcis.sh
  src/testclient/scripts/8.mcis/create-mcis.sh
  src/testclient/scripts/sequentialFullTest/clean-mcir-ns-cloud-domestic.sh
Labels: approved

#1609 Add scripts for Ceph usecase
  scripts/usecases/ceph/1.setupCephMaster.sh
  scripts/usecases/ceph/2.setupCephMemberWithPubKey.sh
  scripts/usecases/ceph/3.setupDemoAppDepenancies.sh
  scripts/usecases/ceph/app.py
  src/api/rest/server/mcis/network.go
Labels: approved

#1611 Add installCudaDriver.sh
  scripts/usecases/llm/installCudaDriver.sh
Labels: approved

#1612 Add error handling for installCudaDriver.sh
  scripts/usecases/llm/installCudaDriver.sh
Labels: approved

#1613 Remove source cmd from installCudaDriver.sh
  scripts/usecases/llm/installCudaDriver.sh
Labels: approved

#1616 Display ssh std to streaming pipe
  src/api/rest/server/middlewares/custom-middleware.go
  src/core/common/client.go
  src/core/mcis/remoteCommand.go
Labels: approved

#1620 Create deployOllama.sh
  scripts/usecases/llm/deployOllama.sh
Labels: approved

#1621 Fix script error in deployOllama.sh
  scripts/usecases/llm/deployOllama.sh
Labels: approved

#1622 Create deployOpenWebUI.sh
  scripts/usecases/llm/deployOpenWebUI.sh
Labels: approved

#1624 Remove echo_message from deployOpenWebUI.sh
  scripts/usecases/llm/deployOpenWebUI.sh
Labels: approved

#1628 Allow 'default' image id for k8scluster
  src/core/mcis/cluster.go
Labels: approved

#1630 Provide README in English only (i18n)
  README.md
  i18n/README-EN.md
Labels: documentation, approved

#1631 Fix typos and enhanced readability for README
  README.md
Labels: documentation, approved

#1632 Staging v0.8.14
  scripts/runMapUI.sh
Labels: approved

#1633 Update Nginx test script
  scripts/usecases/nginx/startServer.sh
Labels: approved

#1635 Add additional error handling installCudaDriver.sh
  scripts/usecases/llm/installCudaDriver.sh
Labels: approved

#1636 Add GPU specs
  assets/cloudspec.csv
  scripts/runSpider.sh
Labels: approved

#1640 Update cb-mapui version
  scripts/runMapUI.sh
Labels: approved

#1641 Update deployOpenWebUI.sh to fix OLLAMA_BASE_URLS issue
  scripts/usecases/llm/deployOpenWebUI.sh
Labels: approved

#1645 Add usecase Youtube to readme
  README.md
Labels: documentation, approved

#1646 Add readme for LLM use case scripts
  scripts/usecases/llm/README.md
Labels: approved

#1651 Staging CB-Tumblebug v0.8.15
  assets/cloudimage.csv
  assets/cloudspec.csv
  scripts/runMapUI.sh
Labels: approved

#1652 Update some K8sCluster API's swagger comments
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/k8scluster.go
Labels: approved

#1655 Support GCP to Azure VPN by site-to-site VPN API
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/network.go
  src/api/rest/server/server.go
Labels: approved

#1657 Enhance API docs for spec and image registeration
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcir/image.go
  src/api/rest/server/mcir/spec.go
Labels: approved

#1659 Update K8sCluster's test scripts in README.md
  README.md
Labels: documentation, approved

#1660 Update images for AWS
  assets/cloudimage.csv
Labels: approved
