Repository cloud-barista/cb-tumblebug, pull requests merged in 2024-07, with the labels that each got.

#1662 Staging CB-SP 0.8.21
  scripts/runSpider.sh
Labels: approved

#1663 Staging CB-Tumblebug v0.9.0
  scripts/runMapUI.sh
  scripts/runSpider.sh
Labels: approved

#1671 Update K8sCluster's REST API description and example
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/mcis/k8scluster.go
  src/core/common/config.go
  src/core/mcis/k8scluster.go
Labels: approved

#1676 Remove unused JWT configuration and environment variable handling
  src/main.go
Labels: approved

#1678 Modify swaggo/swag `@securityDefinitions`
  src/main.go
Labels: approved

#1680 Update API docs
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
Labels: approved

#1681 Specify data type in ResponseBodyDump logging
  src/api/rest/server/middlewares/custom-middleware/custom-middleware.go
Labels: approved

#1687 Update README.md for encryption details
  README.md
Labels: documentation, approved

#1686 Add `kvstore` pkg and improve functionality
  docker-compose.yaml
  src/api/rest/server/mcis/network.go
  src/examples/kvstore/main.go
  src/kvstore/etcd/etcd.go
  src/kvstore/kvstore/kvstore.go
  src/kvstore/kvutil/kvutil.go
Labels: approved

#1689 Deduplicate code for checking k8scluster enablement
  src/core/mcis/k8scluster.go
Labels: approved

#1688 Update k8sclusterinfo.yaml and add 'others' keyword
  assets/k8sclusterinfo.yaml
  src/core/common/common.go
  src/core/common/utility.go
Labels: approved

#1690 Add etcd-centric kvstore and replace cb-store
  Dockerfile
  README.md
  conf/setup.env
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  scripts/etcd/.env
  scripts/etcd/sample-disable-auth.sh
  scripts/etcd/sample-enable-auth.sh
  scripts/etcd/setup-auth.sh
  src/core/common/common.go
  src/core/common/config.go
  src/core/common/namespace.go
  src/core/common/utility.go
  src/core/mcir/common.go
  src/core/mcir/customimage.go
  src/core/mcir/datadisk.go
  src/core/mcir/firewallrule.go
  src/core/mcir/image.go
  src/core/mcir/securitygroup.go
  src/core/mcir/spec.go
  src/core/mcir/sshkey.go
  src/core/mcir/subnet.go
  src/core/mcir/vnet.go
  src/core/mcis/control.go
  src/core/mcis/k8scluster.go
  src/core/mcis/manageInfo.go
  src/core/mcis/nlb.go
  src/core/mcis/orchestration.go
  src/core/mcis/provisioning.go
  src/core/mcis/recommendation.go
  src/core/mcis/remoteCommand.go
  src/core/mcis/snapshot.go
  src/core/mcis/utility.go
  src/examples/kvstore/main.go
  src/kvstore/etcd/etcd.go
  src/kvstore/kvstore/kvstore.go
  src/main.go
Labels: approved

#1691 Add and update docker-compose configuration to customize or set environment variables
  .env
  .gitignore
  docker-compose-custom.yaml
  docker-compose.yaml
  scripts/etcd/.env
  scripts/etcd/etcd-conf.sh
Labels: approved

#1693 Rebase replace-with-etcd onto upstream latest main
  assets/k8sclusterinfo.yaml
  src/core/common/common.go
  src/core/common/utility.go
  src/core/mcis/k8scluster.go
Labels: documentation, approved

#1692 Fix GetRegion info bug
  src/core/common/utility.go
Labels: approved

#1694 Finalize docker-compose and etcd
  .env
  Dockerfile
  conf/setup.env
  docker-compose-custom.yaml
  docker-compose.yaml
  src/core/common/common.go
  src/core/common/config.go
  src/main.go
Labels: approved

#1696 Update cleanDB.sh
  scripts/cleanDB.sh
Labels: approved

#1695 Replace cb-store with etcd
  .env
  .gitignore
  Dockerfile
  README.md
  conf/setup.env
  docker-compose-custom.yaml
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  scripts/cleanDB.sh
  scripts/etcd/.env
  scripts/etcd/etcd-conf.sh
  scripts/etcd/sample-disable-auth.sh
  scripts/etcd/sample-enable-auth.sh
  src/core/common/common.go
  src/core/common/config.go
  src/core/common/namespace.go
  src/core/common/utility.go
  src/core/mcir/common.go
  src/core/mcir/customimage.go
  src/core/mcir/datadisk.go
  src/core/mcir/firewallrule.go
  src/core/mcir/image.go
  src/core/mcir/securitygroup.go
  src/core/mcir/spec.go
  src/core/mcir/sshkey.go
  src/core/mcir/subnet.go
  src/core/mcir/vnet.go
  src/core/mcis/control.go
  src/core/mcis/k8scluster.go
  src/core/mcis/manageInfo.go
  src/core/mcis/nlb.go
  src/core/mcis/orchestration.go
  src/core/mcis/provisioning.go
  src/core/mcis/recommendation.go
  src/core/mcis/remoteCommand.go
  src/core/mcis/snapshot.go
  src/core/mcis/utility.go
  src/examples/kvstore/main.go
  src/kvstore/etcd/etcd.go
  src/kvstore/kvstore/kvstore.go
  src/main.go
Labels: docs, approved

#1697 Fix subGroup removal bug in refine func
  src/core/mcis/manageInfo.go
Labels: approved

#1698 Enhance env variables
  .env
  Dockerfile
  README.md
  conf/setup.env
  docker-compose-custom.yaml
  docker-compose.yaml
  scripts/cleanDB.sh
  scripts/exportCredentials.sh
  scripts/init/README.md
  scripts/init/init.py
  scripts/runContainer.sh
  scripts/runTerrarium.sh
  scripts/runTumblebug.sh
  scripts/setPublicIP.sh
  src/api/rest/server/common/config.go
  src/api/rest/server/common/utility.go
  src/api/rest/server/mcis/network.go
  src/api/rest/server/server.go
  src/core/common/common.go
  src/core/common/config.go
  src/core/common/logger/logger.go
  src/core/mcir/common.go
  src/main.go
  src/testclient/scripts/2.configureTumblebug/create-ns.sh
  src/testclient/scripts/2.configureTumblebug/get-config.sh
  src/testclient/scripts/2.configureTumblebug/init-config.sh
  src/testclient/scripts/init.sh
  src/testclient/scripts/sequentialFullTest/deploy-dragonfly-docker.sh
  src/testclient/test-clis/vpn-tunnel/gcp-aws/README.md
Labels: docs, approved, src, script

#1701 Update regarding environment variables
  .env
  src/core/common/logger/logger.go
Labels: approved

#1700 Staging v0.9.2
  .env
  README.md
  docker-compose.yaml
  init/README.md
  init/decCredential.sh
  init/encCredential.sh
  init/genCredential.sh
  init/init.py
  init/init.sh
  init/requirements.txt
  init/template.credentials.yaml
Labels: docs, approved
