Repository cloud-barista/cb-tumblebug, pull requests merged in 2025-05, with the labels that each got.

#2003 Enhance the site-to-site VPN
  Dockerfile
  assets/cloudimage.csv
  conf/setup.env
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/vpn.go
  src/api/rest/server/server.go
  src/core/common/label/label.go
  src/core/model/common.go
  src/core/model/vpn.go
  src/core/resource/vpn.go
  src/csp/csp.go
Labels: approved, asset

#2005 Update model and label
  src/api/rest/server/resource/vpn.go
  src/core/common/label/label.go
  src/core/model/csp/csp.go
  src/core/resource/vpn.go
  src/csp/csp.go
Labels: approved

#2006 chore: [k8scluster] update supported k8sversion of azure
  assets/k8sclusterinfo.yaml
Labels: approved, asset

#2007 chore: [k8scluster] update cloudimage.csv and cloudspec.csv for ncpvpc
  assets/cloudimage.csv
  assets/cloudspec.csv
Labels: approved, asset

#2010 Change RDB ORM and handling assets and Image search enhancement
  Dockerfile
  assets/cloudimage.csv
  assets/extractionpatterns.yaml
  docker-compose.yaml
  go.mod
  go.sum
  go.work.sum
  scripts/usecases/ray/ray-head-setup.sh
  scripts/usecases/ray/ray-worker-setup.sh
  src/api/rest/docs/docs.go
  src/api/rest/docs/swagger.json
  src/api/rest/docs/swagger.yaml
  src/api/rest/server/resource/image.go
  src/api/rest/server/server.go
  src/core/common/common.go
  src/core/common/config.go
  src/core/common/utility.go
  src/core/infra/provisioning.go
  src/core/model/common.go
  src/core/model/config.go
  src/core/model/customimage.go
  src/core/model/image.go
  src/core/model/spec.go
  src/core/resource/common.go
  src/core/resource/customimage.go
  src/core/resource/image.go
  src/core/resource/spec.go
  src/main.go
Labels: approved, src, asset
