Repository cloud-barista/cb-tumblebug, pull requests merged in 2025-01, with the labels that each got.

#1952 Update assets/cloudimage.csv and assets/k8sclusterinfo.yaml
  assets/cloudimage.csv
  assets/k8sclusterinfo.yaml
Labels: asset

#1950 Feat support k8scluster container remote command
  assets/k8sclusterinfo.yaml
  go.mod
  go.sum
  src/api/rest/server/resource/k8scluster.go
  src/api/rest/server/server.go
  src/core/model/k8scluster.go
  src/core/resource/k8scluster.go
Labels: asset

#1954 CHORE: set tencent's ap-hongkong as service unavailable
  assets/k8sclusterinfo.yaml
Labels: approved, asset

#1955 CHORE: [k8scluster] update some regions of tencent as unavailable
  assets/k8sclusterinfo.yaml
Labels: approved, asset

#1957 Staging v0.10.4
  docker-compose.yaml
Labels: approved

#1960 Fix incorrect screenshots in the README.md
  README.md
Labels: docs

#1962 Add screenshots in the README.md
  README.md
Labels: docs
