Repository cloud-barista/cb-tumblebug, pull requests merged in 2025-08, with the labels that each got.

#2065 feat: comprehensive security group firewall rules management system
  src/core/infra/manageInfo.go
  src/core/model/mci.go
  src/core/model/securitygroup.go
  src/core/resource/common.go
  src/core/resource/securitygroup.go
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/infra/manageInfo.go
  src/interface/rest/server/resource/firewallrule.go
  src/interface/rest/server/resource/securitygroup.go
  src/interface/rest/server/server.go
Labels: approved

#2068 optimized TB-MCP server with intelligent NS management and optimized API policies
  src/interface/mcp/tb-mcp.py
Labels: approved

#2072 Support usecases for MCP
  src/interface/mcp/tb-mcp.py
Labels: approved

#2073 Enhance sshkey and remote command logic
  src/core/infra/remoteCommand.go
  src/core/resource/sshkey.go
Labels: approved

#2075 Remove MCI with monitoring option from MCP
  src/interface/mcp/tb-mcp.py
Labels: approved

#2076 Provide MCI configuration req reviewing feat
  src/core/infra/provisioning.go
  src/core/model/mci.go
  src/core/resource/image.go
  src/interface/mcp/tb-mcp.py
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/infra/provisioning.go
  src/interface/rest/server/resource/image.go
  src/interface/rest/server/server.go
Labels: approved

#2077 feat: enhance performance and error handling along with MCP
  src/core/common/client/client.go
  src/core/common/label/label.go
  src/core/common/utility.go
  src/core/infra/provisioning.go
  src/core/model/common.go
  src/core/resource/sshkey.go
  src/interface/mcp/tb-mcp.py
Labels: approved

#2079 feat: optimize MCI review performance with parallel processing
  src/core/common/label/label.go
  src/core/infra/provisioning.go
  src/core/model/mci.go
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/infra/provisioning.go
Labels: approved

#2080 Change MCP transport from SSE to HTTP
  docker-compose.yaml
  src/interface/mcp/Dockerfile
  src/interface/mcp/PROXY_README.md
  src/interface/mcp/README.md
  src/interface/mcp/architecture.md
  src/interface/mcp/claude_desktop_config.json
  src/interface/mcp/mcp-simple-proxy.py
  src/interface/mcp/tb-mcp.py
Labels: approved

#2083 Hot fix for hanging in mci with failed entity
  src/core/common/label/label.go
  src/core/infra/manageInfo.go
  src/core/infra/provisioning.go
  src/interface/mcp/tb-mcp.py
Labels: approved

#2087 Update risk leveling rule for spec image combination
  src/core/infra/provisioning.go
  src/core/infra/remoteCommand.go
  src/core/model/mci.go
  src/interface/mcp/tb-mcp.py
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/infra/provisioning.go
  src/interface/rest/server/server.go
Labels: approved

#2088 Add docker compose config structure
  README.md
Labels: docs, approved

#2089 Additional guide to mcp for mci confi review
  src/interface/mcp/tb-mcp.py
Labels: approved

#2094 Staging 0.11.4
  docker-compose.yaml
  src/core/common/label/label.go
Labels: approved

#2093 Set a longer API request timeout for the control VM in the NCP VPC
  src/core/infra/control.go
Labels: approved

#2096 Enhance mci review and mcp
  src/core/infra/provisioning.go
  src/interface/mcp/tb-mcp.py
Labels: approved

#2102 Skip Azure Gen1-only VM family spec
  assets/cloudimage.csv
  src/core/resource/spec.go
Labels: approved, asset

#2104 Staging cb-tumblebug:0.11.6
  docker-compose.yaml
Labels: approved

#2107 Enhance deletion for set of resources in parallel
  src/core/resource/common.go
  src/interface/rest/server/resource/common.go
Labels: approved

#2108 Refactor for applying changed CSP names
  assets/cloudinfo.yaml
  assets/cloudspec.csv
  assets/k8sclusterinfo.yaml
  assets/networkinfo.yaml
  conf/cloud_conf.yaml
  docker-compose.yaml
  init/template.credentials.yaml
  scripts/misc/update-cloudinfo.py
  src/core/common/label/label.go
  src/core/infra/manageInfo.go
  src/core/infra/provisioning.go
  src/core/model/config.go
  src/core/model/csp/csp.go
  src/core/resource/image.go
  src/core/resource/spec.go
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/resource/sqlDb.go
  src/interface/rest/server/server.go
  src/testclient/scripts/13.k8scluster/check-nodegroups-on-k8s-creation.sh
  src/testclient/scripts/13.k8scluster/create-k8scluster.sh
  src/testclient/scripts/conf.env
  src/testclient/scripts/sequentialFullTest/cinder-sc.yaml
  src/testclient/scripts/sequentialFullTest/clean-resource-ns-cloud-domestic.sh
  src/testclient/scripts/sequentialFullTest/create-resource-ns-cloud-domestic.sh
  src/testclient/scripts/testSet.env
Labels: approved, asset

#2112 Use etcd:v3.5.21
  docker-compose.yaml
Labels: approved

#2120 Fix remote commend error return issue
  src/core/infra/remoteCommand.go
  src/core/model/mci.go
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
  src/interface/rest/server/infra/remoteCommand.go
Labels: approved

#2125 Enhance KV existence checks for better reliability and bugfix on creating MCI.
  src/core/common/config.go
  src/core/common/label/label.go
  src/core/common/namespace.go
  src/core/common/utility.go
  src/core/infra/control.go
  src/core/infra/loadbalance.go
  src/core/infra/manageInfo.go
  src/core/infra/orchestration.go
  src/core/infra/provisioning.go
  src/core/infra/remoteCommand.go
  src/core/infra/snapshot.go
  src/core/infra/utility.go
  src/core/resource/common.go
  src/core/resource/k8scluster.go
  src/core/resource/objectStorage.go
  src/core/resource/securitygroup.go
  src/core/resource/sqlDb.go
  src/core/resource/sshkey.go
  src/core/resource/subnet.go
  src/core/resource/vnet.go
  src/core/resource/vpn.go
  src/kvstore/etcd/etcd.go
  src/kvstore/kvstore/kvstore.go
Labels: approved

#2126 Reduce racing condition for mci dynamic
  src/core/infra/provisioning.go
  src/core/model/mci.go
  src/interface/rest/docs/docs.go
  src/interface/rest/docs/swagger.json
  src/interface/rest/docs/swagger.yaml
Labels: approved
